/* CSS 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  line-height: 1.5;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
